
@{
    ViewBag.Title = "GetEmployee";
}

<h2>Get Departamento</h2>

<div class="container">
    <div class="form-group">
        <label for="name">Nombre del Empleado:</label>
        <input type="text" class="form-control" id="nombre" placeholder="Nombre" name="nombre">
    </div>
    <button type="button" class="btn btn-default" onclick="getDep()">Select area</button>

    <input type="text" id="nombre2">



</div>