@model IEnumerable<PR01.Models.employee>
@foreach (var empleado in Model)
{

<div>

    <span>@empleado.nombre</span>
    <span>@empleado.telefono</span>
    <span>@empleado.direccion</span>



</div>
}
